language: go
go:
- "1.9.7"
- "1.10.4"
- "1.11.1"
- "tip"

sudo: false

before_install:
- >-
  curl -L -s https://github.com/golang/dep/releases/download/v0.5.0/dep-linux-amd64
  -o $GOPATH/bin/dep
- chmod +x $GOPATH/bin/dep
- go get gopkg.in/alecthomas/gometalinter.v2
- gometalinter.v2 --install
- go get github.com/gcash/bchd
- go get github.com/gcash/neutrino
- dep init

script:
- export PATH=$PATH:$HOME/gopath/bin
- ./goclean.sh